# clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling:
# strlcat, fprintf_s, snprintf_s & other variants are not supported by GCC
Checks: '-clang-analyzer-optin.mpi.MPI-Checker,-clang-diagnostic-#warnings,-clang-diagnostic-#pragma-messages,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-clang-analyzer-security.insecureAPI.strcpy,-clang-diagnostic-unused-command-line-argument'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
