#mapping authors to well-formatted standardized names

# CAPRA Antoine
Antoine Capra <capra@paratools.com> Antoine CAPRA <antoine.capra.ac@gmail.com>
Antoine Capra <capra@paratools.com> Antoine CAPRA <capra@paratools.com>
Antoine Capra <capra@paratools.com> Antoine CAPRA <capra@paratools.fr>
Antoine Capra <capra@paratools.com> Antoine CAPRA <capraa@inti1033.c-inti.ccc.ocre.cea.fr>
Antoine Capra <capra@paratools.com> Antoine CAPRA <capraa@inti50.c-inti.ccc.ocre.cea.fr>
Antoine Capra <capra@paratools.com> Antoine CAPRA <capraa@inti51.c-inti.ccc.ocre.cea.fr>
Antoine Capra <capra@paratools.com> Antoine Capra <capra@knl.nic.uoregon.edu>


# BOUHROUR Stephane
Stephane Bouhrour <stephane.bouhrour@exascale-computing.eu> Bouhrour <stephane.bouhrour@uvsq.fr>
Stephane Bouhrour <stephane.bouhrour@exascale-computing.eu> Bouhrour Stéphane <stephane.bouhrour@exascale-computing.eu>

#SERRAZ Augustin
Augustin Serraz <augustin.serraz@exascale-computing.eu> Augustin Serraz <augustin.serraz@exascale-computing.eu>
Augustin Serraz <augustin.serraz@exascale-computing.eu> Augustin SERRAZ <aserraz@tailleferre.exascale-computing.eu>
Augustin Serraz <augustin.serraz@exascale-computing.eu> Augustin Serraz <augustin.serraz@gmail.com>
Augustin Serraz <augustin.serraz@exascale-computing.eu> serraza <serraza@cassard7.c-cassard.ocre.cea.fr>

#MAHEO Aurele
Aurele Maheo <aurele.maheo@exascale-computing.eu> Aurele MAHEO <aurele.maheo@exascale-computing.eu>
Aurele Maheo <aurele.maheo@exascale-computing.eu> Aurele MAHEO <amaheo@clerambault.exascale-computing.eu>
Aurele Maheo <aurele.maheo@exascale-computing.eu> Aurele MAHEO <amaheo@gluck.exascale-computing.eu>
Aurele Maheo <aurele.maheo@exascale-computing.eu> aurele MAHEO <aurele.maheo@gmail.com>

#GALLET Camille
Camille Gallet <camile.gallet@cea.fr> Camille Gallet <camile.gallet@cea.fr>
Camille Gallet <camile.gallet@cea.fr> Camille Gallet <gallet.camille@gmail.com>

#BESNARD Jean-Baptiste
Jean-Baptiste Besnard <jbbesnard@paratools.com> Jean-Baptiste Besnard <jbbesnard@paratools.com>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Jean-Baptiste <jbe@prism.uvsq.fr>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Besnard Jean-Baptiste <jean-baptiste.besnard@cea.fr>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Besnard Jean-Baptiste <jean-baptiste.besnard@gmail.com>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Jean-Baptiste BESNARD <jbaptistebesnard@gmail.com>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Jean-Baptiste BESNARD <jbbesnard@paratools.com>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Jean-Baptiste BESNARD <jbbesnard@paratools.fr>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Jean-Baptiste BESNARD <jean-baptiste.besnard@cea.fr>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Jean-Baptiste Besnard <besnardjb@ocre.cea.fr>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Jean-Baptiste BESNARDÃ <jbbesnard@paratools.fr>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Jean-Baptiste BESNARD <besnardj@r0login.c-inti.ccc.ocre.cea.fr>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Jean-Baptiste BESNARD <jbbesnard@dparatools.fr>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Besnard Jean-Baptiste <jbbesnard@paratools.com>
Jean-Baptiste Besnard <jbbesnard@paratools.com> Besnard Jean-Baptiste <jean-baptiste@kerloas.localdomain>


#VET Jean-Yves
Jean-Yves Vet <jean-yves.vet@cea.fr> Jean-Yves <jean-yves.vet@cea.fr>
Jean-Yves Vet <jean-yves.vet@cea.fr> Jean-Yves <vet.jean.yves@gmail.com>
Jean-Yves Vet <jean-yves.vet@cea.fr> Jean-Yves VET <vet.jean.yves@gmail.com>
Jean-Yves Vet <jean-yves.vet@cea.fr> Jean-Yves Vet <jean-yves.vet@cea.fr>

#CLET-ORTEGA Jerome
Jerome Clet-Ortega <cletortegaj@ocre.cea.fr> Jerome Clet-Ortega <cletortegaj@ocre.cea.fr>
Jerome Clet-Ortega <cletortegaj@ocre.cea.fr> cletortegaj <cletortegaj@cassard7.c-cassard.ocre.cea.fr>

#ADAM Julien
Julien Adam <adamj@paratools.com> Julien Adam <adamj@paratools.com>
Julien Adam <adamj@paratools.com> Julien ADAM <julien.adam.ocre@cea.fr>
Julien Adam <adamj@paratools.com> Julien ADAM <julien.adam@cea.fr>
Julien Adam <adamj@paratools.com> Julien Adam <Julien.adam@cea.fr>
Julien Adam <adamj@paratools.com> Julien Adam <adamj@paratools.fr>
Julien Adam <adamj@paratools.com> Julien Adam <julien.adam-dev@sfr.fr>
Julien Adam <adamj@paratools.com> Julien Adam <julien.adam@cea.fr>
Julien Adam <adamj@paratools.com> Julien adam <julien.adam@cea.fr>

#JAEGER Julien
Julien Jaeger <julien.jaeger@cea.fr> Julien JAEGER <julien.jaeger@cea.fr>
Julien Jaeger <julien.jaeger@cea.fr> Julien Jaeger <julien.jaeger@cea.fr>

#PERACHE Marc
Marc Perache <marc.perache@cea.fr> Marc Perache <marc.perache@cea.fr>
Marc Perache <marc.perache@cea.fr> Marc PERACHE <marc.perache@cea.fr>
Marc Perache <marc.perache@cea.fr> Marc Perache <perache@debian>
Marc Perache <marc.perache@cea.fr> Marc Pérache <marc.perache@cea.fr>
Marc Perache <marc.perache@cea.fr> PERACHE Marc <marc.perache@cea.fr>
Marc Perache <marc.perache@cea.fr> perache <perache@perache-VirtualBox.(none)>
Marc Perache <marc.perache@cea.fr> Marc <Perache marc.perache@cea.fr>
Marc Perache <marc.perache@cea.fr> perache <marc.perache@cea.fr>
Marc Perache <marc.perache@cea.fr> PERACHE Marc <marc.perache@cea.fr>

#TCHIBOUKDJIAN Marc
Marc Tchiboukdjian <marc.tchiboukdjian@exascale-computing.eu>

#CARRIBAULT Patrick
Patrick Carribault <patrick.carribault@cea.fr> Patrick Carribault <patrick.carribault@cea.fr>
Patrick Carribault <patrick.carribault@cea.fr> Patrick Carribault <Patrick.Carribault@cea.fr>
Patrick Carribault <patrick.carribault@cea.fr> Patrickk Carribault <patrick.carribault@cea.fr>

#BISPO VIERA Ricardo
Ricardo Bispo vieira <ricardo.bispo-vieira@exascale-computing.eu> Ricardo Bispo vieira <ricardo.bispo-vieira@exascale-computing.eu>
Ricardo Bispo vieira <ricardo.bispo-vieira@exascale-computing.eu> Ricardo BISPO VIEIRA <Ricardo.bispo-vieira@exascale-computing.eu>
Ricardo Bispo vieira <ricardo.bispo-vieira@exascale-computing.eu> Ricardo BISPO VIEIRA <bispovieir@inti50.c-inti.ccc.ocre.cea.fr>
Ricardo Bispo vieira <ricardo.bispo-vieira@exascale-computing.eu> Ricardo BISPO VIEIRA <rbispo@gershwin.exascale-computing.eu>
Ricardo Bispo vieira <ricardo.bispo-vieira@exascale-computing.eu> Ricardo Bispo Vieira <ricardo.cordeiro-bispo-vieira@uvsq.fr>
Ricardo Bispo vieira <ricardo.bispo-vieira@exascale-computing.eu> Ricardo Bispo vieira <ricardo.bispo-vieira@exascale-computing.eu>

#Romain Pereira
Romain Pereira <romain.pereira@cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@r6login.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@r1login.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti1204.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <romain.pereira@inria.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti1203.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti1401.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2027.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2112.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain Pereira <pereirar@ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti1221.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2030.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2216.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2221.c-inti.ccc.ocre.cea.fr>

#SHENDE Sameer
Sameer Shende <sameer@paratools.com> Sameer Shende <sameer@paratools.com>
Sameer Shende <sameer@paratools.com> Sameer Shende <sameer@cs.uoregon.edu>

#PULVERAIL Sebastien
Sebastien Pulverail <sebastien.pulverail@sogeti.com>

#VALAT Sebastien
Sebastien Valat <sebastien.valat@cea.fr> Sebastien Valat <sebastien.valat@cea.fr>
Sebastien Valat <sebastien.valat@cea.fr> Sebastien Valat <sebastien.valat.dev@orange.fr>
Sebastien Valat <sebastien.valat@cea.fr> Sebastien Valat <sebastien.valat.ocre@cea.fr>
Sebastien Valat <sebastien.valat@cea.fr> Sebastien Valat <sebastien.valat@gmail.com>
Sebastien Valat <sebastien.valat@cea.fr> Sebastien Valat <sebastien.valat@ocre.cea.fr>
Sebastien Valat <sebastien.valat@cea.fr> Valat Sébastien <sebastien.valat.dev@orange.fr>
Sebastien Valat <sebastien.valat@cea.fr> Valat Sébastien <sebastien.valat@cea.fr>
Sebastien Valat <sebastien.valat@cea.fr> Valat Sébastien <sebastien.valat@gmail.com>
Sebastien Valat <sebastien.valat@cea.fr> Sébastien Valat <sebastien.valat@cea.fr>

#KOLIAI Souad
Souad Koliai <skoliai@exascale-computing.eu> Souad Koliai <skoliai@exascale-computing.eu>
Souad Koliai <skoliai@exascale-computing.eu> Souad KOLIAI <skoliai@berlioz.(none)>
Souad Koliai <skoliai@exascale-computing.eu> Souad KOLIAI <skoliai@clerambault.exascale-computing.eu>
Souad Koliai <skoliai@exascale-computing.eu> Souad KOLIAI <skoliai@exascale-computing.eu>
Souad Koliai <skoliai@exascale-computing.eu> Souad KOLIAI <skoliai@gluck.exascale-computing.eu>

#DIDELOT Sylvain
Sylvain Didelot <sylvain.didelot@exascale-computing.eu> Sylvain Didelot <sylvain.didelot@exascale-computing.eu>
Sylvain Didelot <sylvain.didelot@exascale-computing.eu> Sylvain DIDELOT <didelot.sylvain@gmail.com>
Sylvain Didelot <sylvain.didelot@exascale-computing.eu> Sylvain DIDELOT <didelots@curie50.c-curie.tgcc.ccc.cea.fr>
Sylvain Didelot <sylvain.didelot@exascale-computing.eu> Sylvain DIDELOT <didelots@curie51.c-curie.tgcc.ccc.cea.fr>
Sylvain Didelot <sylvain.didelot@exascale-computing.eu> Sylvain DIDELOT <sylvain.didelot@exascale-computing.eu>
Sylvain Didelot <sylvain.didelot@exascale-computing.eu> Sylvain Didelot <didelots@inti4.c-inti.ocre.cea.fr>
Sylvain Didelot <sylvain.didelot@exascale-computing.eu> Sylvain Didelot <didelots@inti50.c-inti.ocre.cea.fr>
Sylvain Didelot <sylvain.didelot@exascale-computing.eu> Sylvain Didelot sylvain.didelot@exascale-computing.eu
Sylvain Didelot <sylvain.didelot@exascale-computing.eu> Sylvain DIDELOT sylvain.didelot@exascale-computing.eu

#TABOADA Hugo
Hugo Taboada <hugo.taboada@cea.fr> Hugo Taboada <hugo.taboada.ocre@cea.fr>
Hugo Taboada <hugo.taboada@cea.fr> TABOADA Hugo <hugo.taboada.ocre@cea.fr>

#GONCALVES Thomas
Thomas Goncalves <thomas.goncalves@cea.fr> Thomas Goncalves <thomas.goncalves@cea.fr>
Thomas Goncalves <thomas.goncalves@cea.fr> Thomas GONCALVES <tgoncalves@berlioz.exascale-computing.eu>

#DIONISI Thomas
Thomas Dionisi <thomas.dionisi@exascale-computing.eu> Thomas DIONISI <dionisit@r0login.c-inti.ccc.ocre.cea.fr>
Thomas Dionisi <thomas.dionisi@exascale-computing.eu> Thomas DIONISI <dionisit@r2login.c-inti.ccc.ocre.cea.fr>
Thomas Dionisi <thomas.dionisi@exascale-computing.eu> Thomas DIONISI <dionisit@r4login.c-inti.ccc.ocre.cea.fr>
Thomas Dionisi <thomas.dionisi@exascale-computing.eu> Thomas DIONISI <dionisit@r6login.c-inti.ccc.ocre.cea.fr>
Thomas Dionisi <thomas.dionisi@exascale-computing.eu> Thomas DIONISI <thomas.dionisi@uvsq.fr>
Thomas Dionisi <thomas.dionisi@exascale-computing.eu> Thomas Dionisi <thomas.dionisi@exascale-computing.eu>
Thomas Dionisi <thomas.dionisi@exascale-computing.eu> Thomas DIONISI <thomas.dionisi@exascale-computing.eu>

#BOUHROUR Stephane
Stephane Bouhrour <stephane.bouhrour@exascale-computing.eu> Stephane BOUHROUR <bouhrours@r0login.c-inti.ccc.ocre.cea.fr>
Stephane Bouhrour <stephane.bouhrour@exascale-computing.eu> Stephane BOUHROUR <bouhrours@r2login.c-inti.ccc.ocre.cea.fr>
Stephane Bouhrour <stephane.bouhrour@exascale-computing.eu> Stephane BOUHROUR <bouhrours@r3login.c-inti.ccc.ocre.cea.fr>
Stephane Bouhrour <stephane.bouhrour@exascale-computing.eu> Stephane Bouhrour <stephane.bouhrour@exascale-computing.eu>
Stephane Bouhrour <stephane.bouhrour@exascale-computing.eu> Stephane BOUHROUR <stephane.bouhrour@uvsq.fr>

#PEPIN Thibaut
Thibaut Pepin <thibaut.pepin@cea.fr> pepnou <pepnou1@gmail.com>
Thibaut Pepin <thibaut.pepin@cea.fr> Thibaut PEPIN <thibaut.pepin@cea.fr>
Thibaut Pepin <thibaut.pepin@cea.fr> Thibaut PEPIN <pepint@r6login.c-inti.ccc.ocre.cea.fr>
Thibaut Pepin <thibaut.pepin@cea.fr> Thibaut PEPIN <pepint@inti2025.c-inti.ccc.ocre.cea.fr>
Thibaut Pepin <thibaut.pepin@cea.fr> Thibaut PEPIN <pepint@inti2087.c-inti.ccc.ocre.cea.fr>
Thibaut Pepin <thibaut.pepin@cea.fr> Thibaut PEPIN <pepint@inti2217.c-inti.ccc.ocre.cea.fr>
Thibaut Pepin <thibaut.pepin@cea.fr> Thibaut PEPIN <pepint@inti2022.c-inti.ccc.ocre.cea.fr>
Thibaut Pepin <thibaut.pepin@cea.fr> Thibaut PEPIN <pepint@inti2033.c-inti.ccc.ocre.cea.fr>
Thibaut Pepin <thibaut.pepin@cea.fr> Thibaut PEPIN <pepint@inti2034.c-inti.ccc.ocre.cea.fr>
Thibaut Pepin <thibaut.pepin@cea.fr> Thibaut PEPIN <pepint@inti2076.c-inti.ccc.ocre.cea.fr>
Thibaut Pepin <thibaut.pepin@cea.fr> Thibaut PEPIN <pepint@inti2222.c-inti.ccc.ocre.cea.fr>
Thibaut Pepin <thibaut.pepin@cea.fr> Thibaut PEPIN <pepint@r1login.c-inti.ccc.ocre.cea.fr>

#CANAT Paul
Paul Canat <pcanat@paratools.com> Paul Canat <pcanat@paratools.fr>
Paul Canat <pcanat@paratools.com> pcanat <pcanat@gitlab.com>
Paul Canat <pcanat@paratools.com> pcanat <canat.paul@gmail.com>
Paul Canat <pcanat@paratools.com> Paul CANAT <canatp@login4.c-inti.mg1.ccc.ocre.cea.fr>
Paul Canat <pcanat@paratools.com> Paul CANAT <canatp@inti6132.c-inti.mg1.ccc.ocre.cea.fr>
Paul Canat <pcanat@paratools.com> pcanat <pcanat@paratools.fr>

# LEDU Maxime
Maxime Le Du <mledu@paratools.com> MaximeLeDu <mledu@paratools.fr>

# PEREIRA Romain
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti1203.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti1204.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti1221.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti1401.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti1403.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2025.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2027.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2030.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2082.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2112.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2216.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@inti2221.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@r1login.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <pereirar@r6login.c-inti.ccc.ocre.cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <romain.pereira@inria.fr>
Romain Pereira <romain.pereira@cea.fr> Romain PEREIRA <romain.pereira.ocre@cea.fr>
Romain Pereira <romain.pereira@cea.fr> Romain Pereira <pereirar@ocre.cea.fr>

# Florian Reynier
Florian Reynier <florian.reynier@cea.fr> Florian REYNIER <florian.reynier.ocre@cea.fr>
