<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
############################# MPC License ##############################
# Wed Nov 19 15:19:19 CET 2008                                         #
# Copyright or (C) or Copr. Commissariat a l'Energie Atomique          #
#                                                                      #
# IDDN.FR.001.230040.000.S.P.2007.000.10000                            #
# This file is part of the MPC Runtime.                                #
#                                                                      #
# This software is governed by the CeCILL-C license under French law   #
# and abiding by the rules of distribution of free software.  You can  #
# use, modify and/ or redistribute the software under the terms of     #
# the CeCILL-C license as circulated by CEA, CNRS and INRIA at the     #
# following URL http://www.cecill.info.                                #
#                                                                      #
# The fact that you are presently reading this means that you have     #
# had knowledge of the CeCILL-C license and that you accept its        #
# terms.                                                               #
#                                                                      #
# Authors:                                                             #
#   - VALAT Sebastien sebastien.valat@cea.fr                           #
#                                                                      #
########################################################################
-->
<!-- Or usage of YAML : http://docs.behat.org/guides/7.config.html  / http://www.yaml.org/ -->

<!-- Global MPC config -->
<mpc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="mpc-config.xsd">
	<!-- List of profiles -->
	<profiles>
		<!-- Declare a first profile -->
		<profile>
			<!-- It is the default one -->
			<name>default</name>
			<!-- Configur some modules -->
			<modules>
				<!-- Config for MPC Allocator -->
				<allocator>
					<!-- Enable some features -->
					<numa>true</numa>
					<profile>true</profile>
					<test>
						<tt>22</tt>
					</test>
					<classes>
						<class>0</class>
						<class>1</class>
						<class>2</class>
						<class>42</class>
					</classes>
					<rails>
						<rail>
							<tt>1</tt>
							<tt2>2</tt2>
						</rail>
						<rail>
							<tt>3</tt>
							<tt2>4</tt2>
						</rail>
						<rail>
							<tt>33</tt>
						</rail>
					</rails>
					<driver>
						<rail>
							<tt>3</tt>
						</rail>
					</driver>
				</allocator>
				<!-- Config for MPC launcher -->
				<launcher>
					<!-- Enable SMT by default -->
					<smt>true</smt>
					<!-- Use 16 cores per nodes by default -->
					<cores>16</cores>
				</launcher>
			</modules>
			<!-- network modules -->
			<networks>
				<configs>
					<config>
						<name>conf1</name>
						<driver>
							<infiniband>
								<buffer>2048</buffer>
							</infiniband>
						</driver>
					</config>
					<config>
						<name>conf2</name>
						<driver>
							<tcp>
								<stealing>false</stealing>
							</tcp>
						</driver>
					</config>
				</configs>
				
				<rails>
					<rail>
						<name>rail1</name>
						<device>ib1</device>
						<topology>ring</topology>
						<config>conf1</config>
					</rail>
					<rail>
						<name>rail2</name>
						<device>eth0</device>
						<topology>tore</topology>
						<config>conf2</config>
					</rail>
				</rails>
			</networks>
		</profile>
		<profile>
			<name>cuda</name>
		</profile>
		<!-- Declare another profile -->
		<profile>
			<!-- Specific profile for EulerMHD -->
			<name>EulerMHD</name>
			<!-- Maybe we can inherit from another profile -->
			<!-- <inherit>my_own_apps</inherit>-->
			<!-- Override some configs -->
			<modules>
				<allocator>
					<profile>false</profile>
					<alstring>Allocator overrided EulerMHD string</alstring>
					<aldouble>123.123</aldouble>
					<alfloat>456.456</alfloat>
				</allocator>
				<launcher>
					<smt>false</smt>
				</launcher>
			</modules>
		</profile>
		<!-- Declare another profile for debugging -->
		<profile>
			<name>debug</name>
			<modules>
				<launcher>
					<verbosity>2</verbosity>
				</launcher>
				<allocator>
					<alsize>16383PB</alsize>
					<warnings>true</warnings>
					<classes></classes>
					<rails>
						<rail>
							<tt>20</tt>
							<tt2>30</tt2>
						</rail>
					</rails>
					<driver>
						<test>
							<tt>2556</tt>
						</test>
					</driver>
					<driverlist>
						<driver>
							<test></test>
						</driver>
						<driver>
							<rail></rail>
						</driver>
					</driverlist>
				</allocator>
			</modules>
		</profile>
	</profiles>
	<!-- Define some default mapping rules for profiles usage -->
	<!-- Profile may also be override by option "profile" via mpcrun, but can use default rules -->
	<!-- Mapping is optional, if none, simply take the profile marked as default -->
	<mappings>
		<!-- first profile mapping -->
		<mapping>
			<!-- some filters -->
			<selectors>
				<env name="partition">cuda</env>
				<env name="executable">EulerMHD</env>
			</selectors>
			<!-- list of profiles to apply -->
			<profiles>
				<profile>cuda</profile>
				<profile>EulerMHD</profile>
			</profiles>
		</mapping>
		<!-- another one -->
		<mapping>
			<selectors>
				<env name="MPC_DEBUG">true</env>
			</selectors>
			<profiles>
				<profile>debug</profile>
				<profile>EulerMHD</profile>
			</profiles>
		</mapping>
	</mappings>
</mpc>
