<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
############################# MPC License ##############################
# Wed Nov 19 15:19:19 CET 2008                                         #
# Copyright or (C) or Copr. Commissariat a l'Energie Atomique          #
#                                                                      #
# IDDN.FR.001.230040.000.S.P.2007.000.10000                            #
# This file is part of the MPC Runtime.                                #
#                                                                      #
# This software is governed by the CeCILL-C license under French law   #
# and abiding by the rules of distribution of free software.  You can  #
# use, modify and/ or redistribute the software under the terms of     #
# the CeCILL-C license as circulated by CEA, CNRS and INRIA at the     #
# following URL http://www.cecill.info.                                #
#                                                                      #
# The fact that you are presently reading this means that you have     #
# had knowledge of the CeCILL-C license and that you accept its        #
# terms.                                                               #
#                                                                      #
# Authors:                                                             #
#   - VALAT Sebastien sebastien.valat@cea.fr                           #
#   - BESNARD Jean-Baptiste jbbesnard@paratools.fr                     #
#                                                                      #
########################################################################
-->

<mpc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="mpc-config.xsd">
	<profiles>
		<profile>
			<name>default</name>
			<modules>
				<collectives_intra>
				</collectives_intra>
			</modules>
			<networks>
				<configs>
					<config>
						<name>ib_config_mpi</name>
						<driver>
							<infiniband/>
						</driver>
					</config>
					<config>
						<name>opa_config_mpi</name>
						<driver>
							<infiniband/>
						</driver>
					</config>
					<config>
						<name>tcp_ofi_config_mpi</name>
						<driver>
							<ofi>
								<link>MPC_LOWCOMM_OFI_CONNECTED</link>
								<progress>MPC_LOWCOMM_OFI_PROGRESS_AUTO</progress>
								<ep_type>MPC_LOWCOMM_OFI_EP_MSG</ep_type>
								<av_type>MPC_LOWCOMM_OFI_AV_MAP</av_type>
								<rm_type>MPC_LOWCOMM_OFI_RM_ENABLED</rm_type>
								<provider>sockets</provider>
							</ofi>
						</driver>
					</config>
					<config>
						<name>tcp_config_mpi</name>
						<driver>
							<tcp/>
						</driver>
					</config>
					<config>
						<name>portals_config</name>
						<driver>
							<portals/>
						</driver>
					</config>

					<config>
						<name>shm_config_mpi</name>
						<driver>
							<shm/>
						</driver>
					</config>

				</configs>

				<rails>
					<rail>
						<name>ib_mpi</name>
						<device>!mlx.*</device>
						<priority>1</priority>
						<rdma>1</rdma>
						<ondemand>1</ondemand>
						<topology>ring</topology>
						<config>ib_config_mpi</config>
					</rail>
					<rail>
						<name>opa_mpi</name>
						<device>!hfi1*</device>
						<priority>1</priority>
						<rdma>1</rdma>
						<ondemand>1</ondemand>
						<topology>ring</topology>
						<config>opa_config_mpi</config>
					</rail>
					<rail>
						<name>tcp_ofi_mpi</name>
						<priority>9</priority>
						<ondemand>1</ondemand>
						<topology>ring</topology>
						<config>tcp_ofi_config_mpi</config>
					</rail>
					<rail>
						<name>tcp_mpi</name>
						<priority>9</priority>
						<ondemand>1</ondemand>
						<topology>ring</topology>
						<config>tcp_config_mpi</config>
					</rail>
					<rail>
						<name>tcp_large</name>
						<priority>10</priority>
						<ondemand>1</ondemand>
						<topology>fully</topology>
						<config>tcp_config_mpi</config>
						<gates>
							<gate>
								<minsize>
									<value>32KB</value>
								</minsize>
							</gate>
						</gates>
					</rail>
					<rail>
						<name>portals_mpi</name>
						<priority>6</priority>
						<ondemand>1</ondemand>
						<rdma>1</rdma>
						<config>portals_config</config>
					</rail>

					<rail>
						<name>shm_mpi</name>
						<priority>99</priority>
						<ondemand>0</ondemand>
						<topology>fully</topology>
						<config>shm_config_mpi</config>
					</rail>
				</rails>
				<cli_options>
					<cli_option>
						<name>ib</name>
						<rails>
							<rail>shm_mpi</rail>
							<rail>ib_mpi</rail>
						</rails>
					</cli_option>
					<cli_option>
						<name>opa</name>
						<rails>
							<rail>shm_mpi</rail>
							<rail>opa_mpi</rail>
						</rails>
					</cli_option>
					<cli_option>
						<name>tcp_ofi_only</name>
						<rails>
							<rail>tcp_ofi_mpi</rail>
						</rails>
					</cli_option>
					<cli_option>
						<name>tcp_ofi</name>
						<rails>
							<rail>shm_mpi</rail>
							<rail>tcp_ofi_mpi</rail>
						</rails>
					</cli_option>
					<cli_option>
						<name>tcp</name>
						<rails>
							<rail>shm_mpi</rail>
							<rail>tcp_mpi</rail>
						</rails>
					</cli_option>
					<cli_option>
						<name>multirail_tcp</name>
						<rails>
							<rail>shm_mpi</rail>
							<rail>tcp_large</rail>
						</rails>
					</cli_option>
					<cli_option>
						<name>portals</name>
						<rails>
							<rail>portals_mpi</rail>
						</rails>
					</cli_option>
					<cli_option>
						<name>shm</name>
						<rails>
							<rail>shm_mpi</rail>
						</rails>
					</cli_option>
					<cli_option>
						<name>default</name>
						<rails>
							<rail>shm_mpi</rail>
							<rail>ib_mpi</rail>
						</rails>
					</cli_option>
				</cli_options>
			</networks>
		</profile>
	</profiles>
</mpc>
